@media (max-width: 1306px) {
  .choose-card {
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .choose-slider .slick-arrow.slick-prev {
    left: 0%;
  }
  .choose-slider .slick-arrow.slick-next {
    right: 0%;
  }
  .combo-slider__wrapper.slick-slide {
    margin-left: 100px;
  }
  .combo-slider .slick-arrow.slick-prev {
    left: 50px;
  }
  .combo-slider .slick-arrow.slick-next {
    right: 50px;
  }
}
@media (max-width: 1184px) {
  .combo-slider .slick-arrow {
    top: auto;
    bottom: -50px;
    transform: none;
  }
  .combo-slider .slick-arrow.slick-prev {
    left: 200px;
  }
  .combo-slider .slick-arrow.slick-next {
    right: 200px;
  }
  .combo-slider__wrapper.slick-slide {
    margin-left: 0px;
  }
}
@media (max-width: 1000px) {
  .tabs__block-img {
    margin-right: 0px;
  }
  .tabs__block-img img {
    left: 0px;
  }
  .tabs {
    display: block;
  }
  .tabs__items {
    flex-direction: row;
  }
  .tabs__item {
    padding: 15px;
  }
  .tabs__block::after {
    content: "";
    width: 33.33%;
    border-bottom: 2px solid #edf0f5;
    top: -60px;
    height: 60px;
    z-index: 0;
  }
  .tabs__block:nth-child(1)::after {
    left: -2px;
    top: -60px;
  }
  .tabs__block:nth-child(2)::after {
    left: 33.33%;
    top: -60px;
  }
  .tabs__block:nth-child(3)::after {
    bottom: auto;
    right: 0;
    top: -60px;
  }
}
@media (max-width: 940px) {
  body.lock {
    overflow: hidden;
  }
  .hero {
    background: -webkit-linear-gradient(90deg, rgb(249, 245, 232) 100%, rgb(65, 81, 103) 15%);
    background: -moz-linear-gradient(90deg, rgb(249, 245, 232) 100%, rgb(65, 81, 103) 15%);
    background: linear-gradient(90deg, rgb(249, 245, 232) 100%, rgb(65, 81, 103) 15%);
    /* overflow-y: scroll; */
  }
  .container-hero {
    padding: 0;
  }
  .burger-menu {
    display: block;
  }
  .top__cap {
    margin-left: auto;
    margin-right: 30px;
  }
  .top {
    top: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 90%);
    padding: 20px;
  }
  .slider.slider-active {
    flex: 0 1 70%;
  }
  .menu {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    z-index: 10000;
    width: 30%;
    transform: translatex(100%);
    transition: transform 0.3s ease;
    overflow: auto;
  }
  .menu.menu-active {
    transform: translatex(0%);
  }
}
@media (max-width: 846px) {
  .card {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 34px;
  }
}
@media (max-width: 784px) {
  .combo-slider__item.slider-item {
    margin: 0 auto;
  }
}
@media (max-width: 700px) {
  .slider__item-pic {
    max-width: 100%;
  }
  .slider__item-text {
    left: 40px;
    color: #b86a1c;
    font-size: 45px;
    line-height: 60px;
  }
  .menu {
    width: 100%;
  }
  .choose-slider .slick-arrow {
    top: auto;
    transform: none;
    bottom: -30px;
  }
  .choose-slider .slick-arrow.slick-prev {
    left: 40%;
  }
  .choose-slider .slick-arrow.slick-next {
    right: 40%;
  }
  .choose-content__title {
    color: #c7a17a;
  }
  .tabs__block {
    padding: 25px;
  }
  .tabs__block:target {
    flex-direction: column;
  }
  .tabs__block-img {
    height: 300px;
  }
}
@media (max-width: 576px) {
  .build-wrapper,
  .choose-wrapper,
  .giftset,
  .combo-wrapper {
    padding: 64px 0;
  }
  .build-content,
  .gifset-content,
  .combo-content,
  .choose-content {
    margin-bottom: 34px;
  }
  .build-content__title {
    margin-bottom: 36px;
  }
  .card-item-image {
    margin-bottom: 24px;
  }
  .choose-content__subtitle,
  .combo-content__subtitle,
  .combo-content__title {
    color: #c7a17a;
  }
  .choose-card-image__img {
    margin: 0 auto;
  }
  .choose-card-image {
    width: 100%;
  }
  .descr {
    padding: 20px;
    width: 100%;
  }
  .choose-card {
    max-width: 100%;
    flex-direction: column;
  }
  .choose-slider .slick-arrow.slick-prev {
    left: 16%;
  }
  .choose-slider .slick-arrow.slick-next {
    right: 16%;
  }
  .combo-slider .slick-arrow.slick-prev {
    left: 16%;
  }
  .combo-slider .slick-arrow.slick-next {
    right: 16%;
  }
}
@media (max-width: 444px) {
  .descri {
    flex-direction: column;
  }
}
@media (max-width: 429px) {
  .slider__item-text {
    font-size: 35px;
    line-height: 45px;
  }
  .card {
    grid-template-columns: 1fr;
    grid-gap: 0px;
  }
  .card-item {
    padding-bottom: 35px;
  }
  .combo-slider__item.slider-item {
    padding: 20px;
  }
  .combo-slider__item .slider-item__img {
    margin: -20px -20px 20px -20px;
  }
}
@media (max-width: 376px) {
  .tabs__block-btn {
    flex-direction: column;
  }
  .block-btn__link {
    text-align: center;
    display: block;
  }
  .slider-item-block {
    display: flex;
    flex-direction: column;
  }
  .slider-item-block__btn {
    margin-right: 0px;
  }
  .slider-item-block__link {
    display: block;
    text-align: center;
  }
}
@media (max-width: 370px) {
  .title {
    font-size: 25px;
  }
}

/*  высота экрана
/* TODO Надпись на слайдере внутрь*/
/* Слайдер на весь экран */
/* TODO LOGO
элемент {
}
.slider__item-text {
    font-size: 35px;
    line-height: 45px;


/* window.addEventListener("resize", function() {
  if (window.innerWidth <= 768) {
    $('.your-slider').slick('unslick');
    sliderIsLive = false;
  }
  else {
    if (sliderIsLive) {
      $('.your-slider').slick();
      sliderIsLive = true;
    }
  }
}); */
