html,
body {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #415167;
}
.none {
  display: none;
}
.container {
  max-width: 1188px;
  margin: 0 auto;
  padding: 0 20px;
}
.hero {
  /* height: 100%; */
  background: -webkit-linear-gradient(90deg, rgb(249, 245, 232) 85%, rgb(65, 81, 103) 15%);
  background: -moz-linear-gradient(90deg, rgb(249, 245, 232) 85%, rgb(65, 81, 103) 15%);
  background: linear-gradient(90deg, rgb(249, 245, 232) 85%, rgb(65, 81, 103) 15%);
  background: linear-gradient(90deg, rgb(242, 247, 229) 44%, rgb(65, 81, 103) 66%);
}
.hero__wrapper {
  position: relative;
  height: 100%;
}
.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  top: 72px;
  left: 0;
  padding: 0 93px 0 72px;
  z-index: 10001;
}
.top__cap {
  display: inline-block;
  position: relative;
}
.top__cap span {
  position: absolute;
  top: -9px;
  right: -9px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #c7a17a;
  color: #fff;
  display: flex;
  justify-content: center;
  font-size: 14px;
  line-height: 23px;
}
.burger-menu {
  display: none;
  position: relative;
  width: 24px;
  height: 18px;
  overflow: hidden;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}
.burger-menu__line {
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #fff;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  left: 0;
}
.line-1 {
  top: 0;
}
.line-2,
.line-3 {
  top: 8px;
}
.line-3 {
  right: 0;
}
.line-4 {
  bottom: 0;
}
.burger-menu.burger-menu--active .line-1 {
  transform: translateX(40px);
  background-color: transparent;
}
.burger-menu.burger-menu--active .line-2 {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.burger-menu.burger-menu--active .line-3 {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.burger-menu.burger-menu--active .line-4 {
  transform: translateX(-40px);
  background-color: transparent;
}
.hero-content {
  display: flex;
}
.slider {
  flex: 1 1 auto;
  height: 100vh;
  min-width: 0;
}
.slider__item {
  height: 100%;
}
.slider-content {
  height: 100vh;
}
.slider__item-pic {
  position: relative;
  margin-left: auto;
  max-width: 73%;
  height: 100%;
}
.slider__item-pic::after {
  content: "";
  position: absolute;
  background-image: url("../img/play.svg");
  background-repeat: no-repeat;
  background-position: center center;
  width: 65px;
  height: 65px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
.slider__item-img {
  /* padding: 0 100px; */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  height: 100%;
  max-width: 100%;
  object-fit: cover;
  background: yellow;
}

.slider__item-text {
  position: absolute;
  bottom: 7%;
  left: -32%;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 54px;
  line-height: 70px;
  color: #415167;
  width: 250px;
  text-transform: uppercase;
}
.slider__item-text span {
  text-transform: uppercase;
  background-color: #c7a17a;
  color: #fff;
}
.menu {
  background-color: rgb(65, 81, 103);
  flex: 1 0 auto;
  overflow: auto;
}
.menu__list {
  /* display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center; */
  /* height: 100%; */
  margin-left: 56px;
  margin-top: 150px;
}
.menu__list-item {
  display: block;
}
.menu__list-link {
  display: block;
  text-decoration: none;
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #edf0f5;
  padding: 15px 0;
  transition: text-shadow 0.5s ease;
}
.menu__list-link:hover {
  text-shadow: 0px 0px 1px #edf0f5, 0px 0px 1px #edf0f5, 0px 0px 1px #edf0f5, 0px 0px 1px #edf0f5, 0px 0px 1px #edf0f5;
}
.slick-slider {
  position: relative;
}
.slick-track {
  display: flex;
}
.slick-list {
  overflow: hidden;
}
/* .slick-prev.slick-arrow,
.slick-next.slick-arrow {
  display: none;
} */
/*----------- -----------*/
.build {
  background-color: #f2f2f2;
}
.build-wrapper {
  padding: 87px 0 128px;
}
.build-content {
  text-align: center;
  margin-bottom: 72px;
}
.subtitle {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}
.build-content__title {
}
.title {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 30px;
  line-height: 34px;
}

.build-items {
}
.card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 68px;
}
.card-item {
  text-align: center;
  display: flex;
  flex-direction: column;
}
.card-item-image {
  margin-bottom: 42px;
}
.card-item-image__img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}
.card-item__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #232c38;
  margin-bottom: 12px;
}
.card-item__text {
  font-weight: 300;
  line-height: 22px;
  color: #151d28;
}

/*----------- -----------*/
.choose {
  background: -webkit-linear-gradient(-90deg, rgb(249, 245, 232) 73%, rgb(65, 81, 103) 50%);
  background: -moz-linear-gradient(-90deg, rgb(249, 245, 232) 73%, rgb(65, 81, 103) 50%);
  background: linear-gradient(-90deg, rgb(249, 245, 232) 73%, rgb(65, 81, 103) 50%);
}
.choose-container {
  max-width: 1195px;
  margin: 0 auto;
  padding: 0 20px;
}
.choose-wrapper {
  padding: 87px 0 128px;
}
.choose-content {
  text-align: center;
  margin-bottom: 72px;
}

.choose-slider {
  position: relative;
  margin-left: 20px;
}

.choose-card {
  cursor: pointer;
  background-color: #edf0f5;
  display: flex;
  align-items: center;
  /* max-width: 100%; */
  max-width: 559px;
  margin-bottom: 30px;
  transition: box-shadow 0.3s ease;
}
.choose-card:hover {
  box-shadow: 6px 6px 5px 0px rgba(205, 205, 205, 0.5);
}
.choose-card-image {
  flex: 0 0 235px;
}
.choose-card-image__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.choose-card__descr {
}
.descr {
  padding: 42px;
  flex: 1 1 auto;
  background-color: wheat;
}
.card-price {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #c7a17a;
}
.descr__price {
  margin-bottom: 15px;
}
.descr__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #232c38;
}
.descr__title span {
  text-transform: uppercase;
}
.card-text {
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: #151d28;
}
.descr__text {
  margin-bottom: 35px;
}
.descr-block {
}
.card-btn {
  border: none;
  cursor: pointer;
  background: #c7a17a;
  border-radius: 19px;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #f9fbff;
  padding: 7px 17px;
}
.descr-block__btn {
  margin-right: 18px;
}
.card-link {
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #415167;
}
.descr-block__link {
}
.choose-slider .slick-arrow {
  position: absolute;
  top: 50%;
  transform: translate(0, -80%);
  z-index: 100;
  font-size: 0;
  width: 48px;
  height: 48px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.choose-slider .slick-arrow.slick-prev {
  background: url("../img/left_arrow.svg") 0 0 / 100% no-repeat;
  left: -50px;
}
.choose-slider .slick-arrow.slick-next {
  background: url("../img/right_arrow.svg") 0 0 / 100% no-repeat;
  right: -50px;
}
.choose-slider .slick-arrow.slick-disabled {
  opacity: 0;
  pointer-events: none;
}
.choose-slider .slick-slide {
  padding: 0 15px;
}
.choose-slider {
  margin: 0 -15px;
}
/*----------- -----------*/
.giftset {
  min-height: 100vh;
  background: -webkit-linear-gradient(90deg, rgb(237, 240, 245) 70%, rgb(242, 242, 242) 50%);
  background: -moz-linear-gradient(90deg, rgb(237, 240, 245) 70%, rgb(242, 242, 242) 50%);
  background: linear-gradient(90deg, rgb(237, 240, 245) 70%, rgb(242, 242, 242) 50%);
  padding: 87px 0 128px;
}
.gifset-wrapper {
}
.gifset-content {
  text-align: center;
  margin-bottom: 68px;
}
.giftset-tabs {
}
.tabs {
  display: flex;
  flex-direction: row-reverse;
}
.tabs__items {
  display: flex;
  flex-direction: column;
}
.tabs__item {
  flex: 1 1 33.33%;
  width: 88px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 30px;
  line-height: 34px;
  color: #415167;
}
.tabs__item span {
  position: relative;
  z-index: 2;
}
.tabs__body {
}
.tabs__block {
  /* display: flex; */
  padding: 45px 64px 45px 0;
  background-color: #fff;
  position: relative;
  display: none;
  max-width: 100%;
  box-shadow: 1px 0px 10px rgba(205, 205, 205, 0.5);
}
.tabs__block::after {
  content: "";
  width: 88px;
  height: 33.33%;
  position: absolute;
  right: -88px;
  background-color: #fff;
  border-left: 2px solid #edf0f5;
}
.tabs__block:nth-child(1)::after {
  top: 0%;
}
.tabs__block:nth-child(2)::after {
  top: 33.33%;
}
.tabs__block:nth-child(3)::after {
  bottom: 0;
}
.tabs__block:target {
  display: flex;
}
.tabs__block-img {
  position: relative;
  width: 100%;
  margin-right: -123px;
}
.tabs__block-img img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  top: 0;
  position: absolute;
  left: -149px;
}
.tabs__block-body {
  max-width: 794px;
}
.tabs__block-price {
  margin-bottom: 12px;
}
.tabs__block-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #232c38;
  margin-bottom: 12px;
}
.tabs__block-text {
  margin-bottom: 24px;
}
.tabs__block-descr {
  margin-bottom: 46px;
}
.descri {
  display: flex;
  justify-content: space-between;
}
.descr-gramm {
  display: flex;
}
.descr-gramm__img {
  margin-right: 12px;
}
.descr-gramm__subtitle {
}
.descr-gramm__title {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}
.descr-mount {
  display: flex;
}
.descr-mount__img {
  margin-right: 12px;
}
.tabs__block-btn {
  display: flex;
  justify-content: space-between;
}
.block-btn__btn {
  padding: 9px 33px;
}
.block-btn__link {
  padding: 9px 33px;
}

/*----------- -----------*/
.combo {
  min-height: 100vh;
  background: -webkit-linear-gradient(90deg, rgb(249, 245, 232) 77%, rgb(65, 81, 103) 50%);
  background: -moz-linear-gradient(90deg, rgb(249, 245, 232) 77%, rgb(65, 81, 103) 50%);
  background: linear-gradient(90deg, rgb(249, 245, 232) 77%, rgb(65, 81, 103) 50%);
}
.combo-wrapper {
  padding: 87px 0 128px;
}
.combo-content {
  text-align: center;
  margin-bottom: 68px;
}
.combo-slider {
  /* display: flex; */
}
.combo-slider__wrapper {
  display: flex;
}
.combo-slider__item {
  max-width: 360px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}
.slider-item {
  box-shadow: 6px 6px 5px 0px rgba(205, 205, 205, 0.5);
  padding: 40px;
}
.slider-item__img {
  background-color: #edf0f5;
  /* width: 100%; */
  height: 300px;
  margin: -40px -40px 20px -40px;
}
.slider-item__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slider-item__descr {
  padding: 42px;
}
.slider-item-price {
  margin-bottom: 10px;
}
.slider-item-price__newprice {
  display: inline-block;
  margin-right: 19px;
  vertical-align: middle;
}
.slider-item-price__oldprice {
  display: inline-block;
  font-style: italic;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  text-decoration-line: line-through;
  vertical-align: middle;
}
.slider-item__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #232c38;
  margin-bottom: 10px;
}
.slider-item__text {
  margin-bottom: 32px;
  flex: 1 1;
  word-wrap: break-word;
}
.slider-item-block {
}
.slider-item-block__btn {
  margin-right: 30px;
}
.slider-item-block__link {
  padding: 8px 17px;
}
.combo-slider .slick-arrow {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 100;
  font-size: 0;
  width: 48px;
  height: 48px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.combo-slider .slick-arrow.slick-prev {
  background: url("../img/left_arrow.svg") 0 0 / 100% no-repeat;
  left: -70px;
}
.combo-slider .slick-arrow.slick-next {
  background: url("../img/right_arrow.svg") 0 0 / 100% no-repeat;
  right: -50px;
}
.combo-slider .slick-arrow.slick-disabled {
  opacity: 0;
  pointer-events: none;
}
.combo-slider .slick-list {
  padding-bottom: 20px;
}
.footer {
  background-color: #edf0f5;
  padding: 20px 0;
}
.container {
}
.footer-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-rights {
  text-decoration: none;
  font-style: italic;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
}
/* .combo-slider__item .slick-slide {
  padding: 0 15px;
}
.combo-slider {
  margin: 0 -15px;
} */
/*font-family: 'Montserrat', sans-serif;*/
/* .menu {
  
  margin-left: 57px;
}
.menu__list {
}
.menu__list-item {
  
}
.menu__list-item + .menu__list-item {
}
.menu__list-link {
}
/*Фон двойной белый и синий - секция. 
background: -webkit-linear-gradient(90deg, rgb(249, 245, 232) 73%, rgb(65, 81, 103) 50%);
background: -moz-linear-gradient(90deg, rgb(249, 245, 232) 73%, rgb(65, 81, 103) 50%);
background: linear-gradient(90deg, rgb(249, 245, 232) 73%, rgb(65, 81, 103) 50%);
<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;700&display=swap" rel="stylesheet" />


Посмотреть КАПАКАДОКИЮ 

      Контейер
      Обертка релатив
      хедер (лого + кружка) асолютом
      + меню абсолют
      слайдер с шириной по центру
      (картинка)
      текст абсолют   */
